In [1]:
import sys
import os

sys.path.append(os.path.abspath(os.path.join('../src')))
from data_loader import load_sql_to_dataframe, run_sql_query, populate_dataframe_to_database

### Load sql file dumped data to dataframe

In [2]:
df = load_sql_to_dataframe('../data/telecom.sql')
print(df.head())

/home/babi/Desktop/10academy/TellCo-Telecom-Analytics/src/data_loader.py:74: DtypeWarning: Columns (2,4,5,12,13,26,27,28,53,54) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(data_io, delimiter='\t', header=None)
2023-12-13 16:14:45,352:logger:Load sql file dumped data to pandas dataframe.

           ("Bearer Id"          "Start" "Start ms"            "End" "End ms"  \
0  1.31144834608449e+19   4/4/2019 12:01        770  4/25/2019 14:35      662
1  1.31144834828789e+19   4/9/2019 13:04        235   4/25/2019 8:15      606
2  1.31144834840805e+19   4/9/2019 17:42          1  4/25/2019 11:58      652
3  1.31144834854428e+19   4/10/2019 0:31        486   4/25/2019 7:36      171
4  1.31144834994807e+19  4/12/2019 20:10        565  4/25/2019 10:40      954

  "Dur. (ms)"           "IMSI" "MSISDN/Number"          "IMEI"  \
0     1823652  208201448079117     33664962239  35521209507511
1     1365104  208201909211140     33681854413  35794009006359
2     1361762  208200314458056     33760627129  35281510359387
3     1321509  208201402342131     33750343200  35356610164913
4     1089009  208201401415120     33699795932  35407009745539

    "Last Location Name"  ... "Youtube DL (Bytes)" "Youtube UL (Bytes)"  \
0  9.16456699548519E+015  ...           15854611.0            2501332.0
1                L77566A  ...           20247395.0           19111729.0
2                D42335A  ...           19725661.0           14699576.0
3                T21824A  ...           21388122.0           15146643.0
4                D88865A  ...           15259380.0           18962873.0

  "Netflix DL (Bytes)" "Netflix UL (Bytes)" "Gaming DL (Bytes)"  \
0            8198936.0            9656251.0         278082303.0
1           18338413.0           17227132.0         608750074.0
2           17587794.0            6163408.0         229584621.0
3           13994646.0            1097942.0         799538153.0
4           17124581.0             415218.0         527707248.0

  "Gaming UL (Bytes)" "Other DL (Bytes)" "Other UL (Bytes)"  \
0          14344150.0        171744450.0          8814393.0
1           1170709.0        526904238.0         15055145.0
2            395630.0        410692588.0          4215763.0
3          10849722.0        749039933.0         12797283.0
4           3529801.0        550709500.0         13910322.0

  "Total UL (Bytes)" "Total DL (Bytes)")
0           36749741           308879636
1           53800391           653384965
2           27883638           279807335
3           43324218           846028530
4           38542814           569138589

[5 rows x 55 columns]

### Load the data to postges database

In [3]:
# Connection parameters
connection_params = {
    "host": "localhost",
    "user": "birehan",
    "password": "password",
    "port": "5432",
    "database": "tellco_db"  # Change to your desired database name
}
table_name = "public.xdr_data"

queries = [
    "SET statement_timeout = 0;",
    "SET lock_timeout = 0;",
    "SET idle_in_transaction_session_timeout = 0;",
    "SET client_encoding = 'UTF8';",
    "SET standard_conforming_strings = on;",
    "SELECT pg_catalog.set_config('search_path', '', false);",
    "SET check_function_bodies = false;",
    "SET xmloption = content;",
    "SET client_min_messages = warning;",
    "SET row_security = off;",
    "SET default_tablespace = '';",
    "SET default_table_access_method = heap;",
    
]

create_table_query =  '''CREATE TABLE public.xdr_data (
    "Bearer Id" double precision,
    "Start" double precision,
    "Start ms" double precision,
    "End" double precision,
    "End ms" double precision,
    "Dur. (ms)" double precision,
    "IMSI" double precision,
    "MSISDN/Number" double precision,
    "IMEI" double precision,
    "Last Location Name" text,
    "Avg RTT DL (ms)" double precision,
    "Avg RTT UL (ms)" double precision,
    "Avg Bearer TP DL (kbps)" double precision,
    "Avg Bearer TP UL (kbps)" double precision,
    "TCP DL Retrans. Vol (Bytes)" double precision,
    "TCP UL Retrans. Vol (Bytes)" double precision,
    "DL TP < 50 Kbps (%)" double precision,
    "50 Kbps < DL TP < 250 Kbps (%)" double precision,
    "250 Kbps < DL TP < 1 Mbps (%)" double precision,
    "DL TP > 1 Mbps (%)" double precision,
    "UL TP < 10 Kbps (%)" double precision,
    "10 Kbps < UL TP < 50 Kbps (%)" double precision,
    "50 Kbps < UL TP < 300 Kbps (%)" double precision,
    "UL TP > 300 Kbps (%)" double precision,
    "HTTP DL (Bytes)" double precision,
    "HTTP UL (Bytes)" double precision,
    "Activity Duration DL (ms)" double precision,
    "Activity Duration UL (ms)" double precision,
    "Dur. (ms).1" double precision,
    "Handset Manufacturer" text,
    "Handset Type" text,
    "Nb of sec with 125000B < Vol DL" double precision,
    "Nb of sec with 1250B < Vol UL < 6250B" double precision,
    "Nb of sec with 31250B < Vol DL < 125000B" double precision,
    "Nb of sec with 37500B < Vol UL" double precision,
    "Nb of sec with 6250B < Vol DL < 31250B" double precision,
    "Nb of sec with 6250B < Vol UL < 37500B" double precision,
    "Nb of sec with Vol DL < 6250B" double precision,
    "Nb of sec with Vol UL < 1250B" double precision,
    "Social Media DL (Bytes)" double precision,
    "Social Media UL (Bytes)" double precision,
    "Google DL (Bytes)" double precision,
    "Google UL (Bytes)" double precision,
    "Email DL (Bytes)" double precision,
    "Email UL (Bytes)" double precision,
    "Youtube DL (Bytes)" double precision,
    "Youtube UL (Bytes)" double precision,
    "Netflix DL (Bytes)" double precision,
    "Netflix UL (Bytes)" double precision,
    "Gaming DL (Bytes)" double precision,
    "Gaming UL (Bytes)" double precision,
    "Other DL (Bytes)" double precision,
    "Other UL (Bytes)" double precision,
    "Total UL (Bytes)" double precision,
    "Total DL (Bytes)" double precision
);'''
change_role_query = "ALTER TABLE public.xdr_data OWNER TO birehan;"

In [4]:
# Run the queries
for query in queries:
    run_sql_query(connection_params, query)

2023-12-13 16:14:45,454:logger:Successfully ran SQL query: SET statement_timeout = 0;
2023-12-13 16:14:45,474:logger:Successfully ran SQL query: SET lock_timeout = 0;
2023-12-13 16:14:45,487:logger:Successfully ran SQL query: SET idle_in_transaction_session_timeout = 0;
2023-12-13 16:14:45,495:logger:Successfully ran SQL query: SET client_encoding = 'UTF8';
2023-12-13 16:14:45,511:logger:Successfully ran SQL query: SET standard_conforming_strings = on;
2023-12-13 16:14:45,522:logger:Successfully ran SQL query: SELECT pg_catalog.set_config('search_path', '', false);
2023-12-13 16:14:45,533:logger:Successfully ran SQL query: SET check_function_bodies = false;
2023-12-13 16:14:45,543:logger:Successfully ran SQL query: SET xmloption = content;
2023-12-13 16:14:45,553:logger:Successfully ran SQL query: SET client_min_messages = warning;

2023-12-13 16:14:45,561:logger:Successfully ran SQL query: SET row_security = off;
2023-12-13 16:14:45,577:logger:Successfully ran SQL query: SET default_tablespace = '';
2023-12-13 16:14:45,590:logger:Successfully ran SQL query: SET default_table_access_method = heap;

In [5]:
run_sql_query(connection_params, create_table_query)

2023-12-13 16:14:45,614:logger:Error running SQL query: relation "xdr_data" already exists

In [6]:
run_sql_query(connection_params, change_role_query)

2023-12-13 16:14:45,636:logger:Successfully ran SQL query: ALTER TABLE public.xdr_data OWNER TO birehan;

In [7]:

populate_dataframe_to_database(connection_params, df, table_name)

2023-12-13 16:14:45,727:logger:Successfully connected to the database.

2023-12-13 16:15:29,453:logger:Inserted 150005 rows into the database table 'your_table_name'.
2023-12-13 16:15:29,454:logger:Database connection closed.

### Save the dataframe as csv file

In [8]:
df.to_csv('../data/tellco_data.csv')