In [1]:
import pandas as pd
import sys
import os

sys.path.append(os.path.abspath(os.path.join('../src')))
from data_loader import load_sql_to_dataframe, run_sql_query, populate_dataframe_to_database

### Load sql file dumped data to dataframe

In [2]:
df = load_sql_to_dataframe('../data/telecom.sql')
print(df.head())

/home/babi/Desktop/10academy/TellCo-Telecom-Analytics/src/data_loader.py:74: DtypeWarning: Columns (2,4,5,12,13,26,27,28,53,54) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(data_io, delimiter='\t', header=None)
2023-12-15 05:29:28,411:logger:Load sql file dumped data to pandas dataframe.

           ("Bearer Id"          "Start" "Start ms"            "End" "End ms"  \
0  1.31144834608449e+19   4/4/2019 12:01        770  4/25/2019 14:35      662
1  1.31144834828789e+19   4/9/2019 13:04        235   4/25/2019 8:15      606
2  1.31144834840805e+19   4/9/2019 17:42          1  4/25/2019 11:58      652
3  1.31144834854428e+19   4/10/2019 0:31        486   4/25/2019 7:36      171
4  1.31144834994807e+19  4/12/2019 20:10        565  4/25/2019 10:40      954

  "Dur. (ms)"           "IMSI" "MSISDN/Number"          "IMEI"  \
0     1823652  208201448079117     33664962239  35521209507511
1     1365104  208201909211140     33681854413  35794009006359
2     1361762  208200314458056     33760627129  35281510359387
3     1321509  208201402342131     33750343200  35356610164913
4     1089009  208201401415120     33699795932  35407009745539

    "Last Location Name"  ... "Youtube DL (Bytes)" "Youtube UL (Bytes)"  \
0  9.16456699548519E+015  ...           15854611.0            2501332.0
1                L77566A  ...           20247395.0           19111729.0
2                D42335A  ...           19725661.0           14699576.0
3                T21824A  ...           21388122.0           15146643.0
4                D88865A  ...           15259380.0           18962873.0

  "Netflix DL (Bytes)" "Netflix UL (Bytes)" "Gaming DL (Bytes)"  \
0            8198936.0            9656251.0         278082303.0
1           18338413.0           17227132.0         608750074.0
2           17587794.0            6163408.0         229584621.0
3           13994646.0            1097942.0         799538153.0
4           17124581.0             415218.0         527707248.0

  "Gaming UL (Bytes)" "Other DL (Bytes)" "Other UL (Bytes)"  \
0          14344150.0        171744450.0          8814393.0
1           1170709.0        526904238.0         15055145.0
2            395630.0        410692588.0          4215763.0
3          10849722.0        749039933.0         12797283.0
4           3529801.0        550709500.0         13910322.0

  "Total UL (Bytes)" "Total DL (Bytes)")
0           36749741           308879636
1           53800391           653384965
2           27883638           279807335
3           43324218           846028530
4           38542814           569138589

[5 rows x 55 columns]

### Load the data to postges database

In [3]:
# Connection parameters
connection_params = {
    "host": "localhost",
    "user": "birehan",
    "password": "password",
    "port": "5432",
    "database": "tellco_db"  # Change to your desired database name
}
table_name = "public.xdr_data"

queries = [
    "SET statement_timeout = 0;",
    "SET lock_timeout = 0;",
    "SET idle_in_transaction_session_timeout = 0;",
    "SET client_encoding = 'UTF8';",
    "SET standard_conforming_strings = on;",
    "SELECT pg_catalog.set_config('search_path', '', false);",
    "SET check_function_bodies = false;",
    "SET xmloption = content;",
    "SET client_min_messages = warning;",
    "SET row_security = off;",
    "SET default_tablespace = '';",
    "SET default_table_access_method = heap;",
    
]

create_table_query =  '''CREATE TABLE public.xdr_data (
    "Bearer Id" double precision,
    "Start" double precision,
    "Start ms" double precision,
    "End" double precision,
    "End ms" double precision,
    "Dur. (ms)" double precision,
    "IMSI" double precision,
    "MSISDN/Number" double precision,
    "IMEI" double precision,
    "Last Location Name" text,
    "Avg RTT DL (ms)" double precision,
    "Avg RTT UL (ms)" double precision,
    "Avg Bearer TP DL (kbps)" double precision,
    "Avg Bearer TP UL (kbps)" double precision,
    "TCP DL Retrans. Vol (Bytes)" double precision,
    "TCP UL Retrans. Vol (Bytes)" double precision,
    "DL TP < 50 Kbps (%)" double precision,
    "50 Kbps < DL TP < 250 Kbps (%)" double precision,
    "250 Kbps < DL TP < 1 Mbps (%)" double precision,
    "DL TP > 1 Mbps (%)" double precision,
    "UL TP < 10 Kbps (%)" double precision,
    "10 Kbps < UL TP < 50 Kbps (%)" double precision,
    "50 Kbps < UL TP < 300 Kbps (%)" double precision,
    "UL TP > 300 Kbps (%)" double precision,
    "HTTP DL (Bytes)" double precision,
    "HTTP UL (Bytes)" double precision,
    "Activity Duration DL (ms)" double precision,
    "Activity Duration UL (ms)" double precision,
    "Dur. (ms).1" double precision,
    "Handset Manufacturer" text,
    "Handset Type" text,
    "Nb of sec with 125000B < Vol DL" double precision,
    "Nb of sec with 1250B < Vol UL < 6250B" double precision,
    "Nb of sec with 31250B < Vol DL < 125000B" double precision,
    "Nb of sec with 37500B < Vol UL" double precision,
    "Nb of sec with 6250B < Vol DL < 31250B" double precision,
    "Nb of sec with 6250B < Vol UL < 37500B" double precision,
    "Nb of sec with Vol DL < 6250B" double precision,
    "Nb of sec with Vol UL < 1250B" double precision,
    "Social Media DL (Bytes)" double precision,
    "Social Media UL (Bytes)" double precision,
    "Google DL (Bytes)" double precision,
    "Google UL (Bytes)" double precision,
    "Email DL (Bytes)" double precision,
    "Email UL (Bytes)" double precision,
    "Youtube DL (Bytes)" double precision,
    "Youtube UL (Bytes)" double precision,
    "Netflix DL (Bytes)" double precision,
    "Netflix UL (Bytes)" double precision,
    "Gaming DL (Bytes)" double precision,
    "Gaming UL (Bytes)" double precision,
    "Other DL (Bytes)" double precision,
    "Other UL (Bytes)" double precision,
    "Total UL (Bytes)" double precision,
    "Total DL (Bytes)" double precision
);'''
change_role_query = "ALTER TABLE public.xdr_data OWNER TO birehan;"

In [4]:
# Run the queries
for query in queries:
    run_sql_query(connection_params, query)

2023-12-15 05:29:28,498:logger:Error running SQL query: no results to fetch
2023-12-15 05:29:28,510:logger:Error running SQL query: no results to fetch
2023-12-15 05:29:28,522:logger:Error running SQL query: no results to fetch
2023-12-15 05:29:28,535:logger:Error running SQL query: no results to fetch
2023-12-15 05:29:28,545:logger:Error running SQL query: no results to fetch
2023-12-15 05:29:28,560:logger:Successfully ran SQL query: SELECT pg_catalog.set_config('search_path', '', false);
2023-12-15 05:29:28,573:logger:Error running SQL query: no results to fetch
2023-12-15 05:29:28,588:logger:Error running SQL query: no results to fetch
2023-12-15 05:29:28,603:logger:Error running SQL query: no results to fetch

2023-12-15 05:29:28,618:logger:Error running SQL query: no results to fetch
2023-12-15 05:29:28,631:logger:Error running SQL query: no results to fetch
2023-12-15 05:29:28,645:logger:Error running SQL query: no results to fetch

result: [('',)]

In [5]:
run_sql_query(connection_params, create_table_query)

2023-12-15 05:29:28,685:logger:Error running SQL query: relation "xdr_data" already exists

In [6]:
run_sql_query(connection_params, change_role_query)

2023-12-15 05:29:28,744:logger:Error running SQL query: no results to fetch

In [7]:

populate_dataframe_to_database(connection_params, df, table_name)

2023-12-15 05:29:28,893:logger:Successfully connected to the database.

2023-12-15 05:29:38,361:logger:Database connection closed.

KeyboardInterrupt:

### Save the dataframe as csv file

In [ ]:
df.to_csv('../data/tellco_data.csv')

## Save cleaned data to database

In [ ]:
cleaned_df = pd.read_csv('../data/cleaned_tellco_data.csv')
print(cleaned_df.head())

   Unnamed: 0     bearer_id                start  start_ms  \
0           0  1.311448e+19  2019-04-04 12:01:00     770.0
1           1  1.311448e+19  2019-04-09 13:04:00     235.0
2           2  1.311448e+19  2019-04-09 17:42:00       1.0
3           3  1.311448e+19  2019-04-10 00:31:00     486.0
4           4  1.311448e+19  2019-04-12 20:10:00     565.0

                   end  end_ms     dur_ms          imsi  msisdn_number  \
0  2019-04-25 14:35:00   662.0  244908.75  2.082014e+14   3.366496e+10
1  2019-04-25 08:15:00   606.0  244908.75  2.082019e+14   3.368185e+10
2  2019-04-25 11:58:00   652.0  244908.75  2.082008e+14   3.373458e+10
3  2019-04-25 07:36:00   171.0  244908.75  2.082014e+14   3.373458e+10
4  2019-04-25 10:40:00   954.0  244908.75  2.082014e+14   3.369980e+10

           imei  ... google_total_bytes  email_total_bytes  \
0  3.552121e+13  ...          2905912.0          3701304.0
1  3.579401e+13  ...          4414096.0           937385.0
2  3.528151e+13  ...         10229119.0          3363124.0
3  3.535661e+13  ...         11811761.0          2070983.0
4  3.540701e+13  ...          7748843.0          2110349.0

   youtube_total_bytes  netflix_total_bytes  gaming_total_bytes  \
0           18355943.0           17855187.0         292426453.0
1           39359124.0           35565545.0         609920783.0
2           34425237.0           23751202.0         229980251.0
3           36534765.0           15092588.0         810387875.0
4           34222253.0           17539799.0         531237049.0

   other_total_bytes  total_data_bytes  total_avg_bearer_tp_kbps  \
0        180558843.0       345629377.0                      67.0
1        541959383.0       707185356.0                      42.0
2        414908351.0       307690973.0                      15.0
3        761837216.0       889352748.0                      88.0
4        564619822.0       607681403.0                      15.0

   total_tcp_dl_retrans_vol_bytes  total_avg_rtt_dl_ms
0                     7843913.125                 47.0
1                     7843913.125                 70.0
2                     7843913.125                 70.0
3                     7843913.125                 70.0
4                     7843913.125                 70.0

[5 rows x 59 columns]

In [ ]:
cleaned_df.dtypes

Unnamed: 0                          int64
bearer_id                         float64
start                              object
start_ms                          float64
end                                object
end_ms                            float64
dur_ms                            float64
imsi                              float64
msisdn_number                     float64
imei                              float64
last_location_name                 object
avg_rtt_dl_ms                     float64
avg_rtt_ul_ms                     float64
avg_bearer_tp_dl_kbps             float64
avg_bearer_tp_ul_kbps             float64
tcp_dl_retrans_vol_bytes          float64
tcp_ul_retrans_vol_bytes          float64
dl_tp_<_50_kbps_pct               float64
50_kbps_<_dl_tp_<_250_kbps_pct    float64
250_kbps_<_dl_tp_<_1_mbps_pct     float64
dl_tp_>_1_mbps_pct                float64
ul_tp_<_10_kbps_pct               float64
10_kbps_<_ul_tp_<_50_kbps_pct     float64
50_kbps_<_ul_tp_<_300_kbps_pct    float64
ul_tp_>_300_kbps_pct              float64
activity_duration_dl_ms           float64
activity_duration_ul_ms           float64
dur_ms_1                          float64
handset_manufacturer               object
handset_type                       object
nb_of_sec_with_vol_dl_<_6250b     float64
nb_of_sec_with_vol_ul_<_1250b     float64
social_media_dl_bytes             float64
social_media_ul_bytes             float64
google_dl_bytes                   float64
google_ul_bytes                   float64
email_dl_bytes                    float64
email_ul_bytes                    float64
youtube_dl_bytes                  float64
youtube_ul_bytes                  float64
netflix_dl_bytes                  float64
netflix_ul_bytes                  float64
gaming_dl_bytes                   float64
gaming_ul_bytes                   float64
other_dl_bytes                    float64
other_ul_bytes                    float64
total_ul_bytes                    float64
total_dl_bytes                    float64
social_media_total_bytes          float64
google_total_bytes                float64
email_total_bytes                 float64
youtube_total_bytes               float64
netflix_total_bytes               float64
gaming_total_bytes                float64
other_total_bytes                 float64
total_data_bytes                  float64
total_avg_bearer_tp_kbps          float64
total_tcp_dl_retrans_vol_bytes    float64
total_avg_rtt_dl_ms               float64
dtype: object

In [ ]:

cleaned_table_name = "public.xdr_data_cleaned"

create_cleaned_table_query =  '''CREATE TABLE public.xdr_data_cleaned (
    "bearer_id" DOUBLE PRECISION,
    "start" DOUBLE PRECISION,
    "start_ms" DOUBLE PRECISION,
    "end" DOUBLE PRECISION,
    "end_ms" DOUBLE PRECISION,
    "dur_ms" DOUBLE PRECISION,
    "imsi" DOUBLE PRECISION,
    "msisdn_number" DOUBLE PRECISION,
    "imei" DOUBLE PRECISION,
    "last_location_name" text,
    "avg_rtt_dl_ms" DOUBLE PRECISION,
    "avg_rtt_ul_ms" DOUBLE PRECISION,
    "avg_bearer_tp_dl_kbps" DOUBLE PRECISION,
    "avg_bearer_tp_ul_kbps" DOUBLE PRECISION,
    "dl_tp_<_50_kbps_pct" DOUBLE PRECISION,
    "50_kbps_<_dl_tp_<_250_kbps_pct" DOUBLE PRECISION,
    "250_kbps_<_dl_tp_<_1_mbps_pct" DOUBLE PRECISION,
    "dl_tp_>_1_mbps_pct" DOUBLE PRECISION,
    "ul_tp_<_10_kbps_pct" DOUBLE PRECISION,
    "10_kbps_<_ul_tp_<_50_kbps_pct" DOUBLE PRECISION,
    "50_kbps_<_ul_tp_<_300_kbps_pct" DOUBLE PRECISION,
    "ul_tp_>_300_kbps_pct" DOUBLE PRECISION,
    "activity_duration_dl_ms" DOUBLE PRECISION,
    "activity_duration_ul_ms" DOUBLE PRECISION,
    "dur_ms_1" DOUBLE PRECISION,
    "handset_manufacturer" text,
    "handset_type" text,
    "nb_of_sec_with_vol_dl_<_6250b" DOUBLE PRECISION,
    "nb_of_sec_with_vol_ul_<_1250b" DOUBLE PRECISION,
    "social_media_dl_bytes" DOUBLE PRECISION,
    "social_media_ul_bytes" DOUBLE PRECISION,
    "google_dl_bytes" DOUBLE PRECISION,
    "google_ul_bytes" DOUBLE PRECISION,
    "email_dl_bytes" DOUBLE PRECISION,
    "email_ul_bytes" DOUBLE PRECISION,
    "youtube_dl_bytes" DOUBLE PRECISION,
    "youtube_ul_bytes" DOUBLE PRECISION,
    "netflix_dl_bytes" DOUBLE PRECISION,
    "netflix_ul_bytes" DOUBLE PRECISION,
    "gaming_dl_bytes" DOUBLE PRECISION,
    "gaming_ul_bytes" DOUBLE PRECISION,
    "other_dl_bytes" DOUBLE PRECISION,
    "other_ul_bytes" DOUBLE PRECISION,
    "total_ul_bytes" DOUBLE PRECISION,
    "total_dl_bytes" DOUBLE PRECISION,
    "social_media_total_bytes" DOUBLE PRECISION,
    "google_total_bytes" DOUBLE PRECISION,
    "email_total_bytes" DOUBLE PRECISION,
    "youtube_total_bytes" DOUBLE PRECISION,
    "netflix_total_bytes" DOUBLE PRECISION,
    "gaming_total_bytes" DOUBLE PRECISION,
    "other_total_bytes" DOUBLE PRECISION,
    "total_data_bytes" DOUBLE PRECISION,
    "total_avg_bearer_tp_kbps" DOUBLE PRECISION,
    "total_tcp_dl_retrans_vol_bytes" DOUBLE PRECISION,
    "total_avg_rtt_dl_ms" DOUBLE PRECISION
);'''

In [ ]:
run_sql_query(connection_params, create_cleaned_table_query)

2023-12-15 01:25:51,095:logger:Successfully ran SQL query: CREATE TABLE public.xdr_data_cleaned (
    "bearer_id" DOUBLE PRECISION,
    "start" DOUBLE PRECISION,
    "start_ms" DOUBLE PRECISION,
    "end" DOUBLE PRECISION,
    "end_ms" DOUBLE PRECISION,
    "dur_ms" DOUBLE PRECISION,
    "imsi" DOUBLE PRECISION,
    "msisdn_number" DOUBLE PRECISION,
    "imei" DOUBLE PRECISION,
    "last_location_name" text,
    "avg_rtt_dl_ms" DOUBLE PRECISION,
    "avg_rtt_ul_ms" DOUBLE PRECISION,
    "avg_bearer_tp_dl_kbps" DOUBLE PRECISION,
    "avg_bearer_tp_ul_kbps" DOUBLE PRECISION,
    "dl_tp_<_50_kbps_pct" DOUBLE PRECISION,
    "50_kbps_<_dl_tp_<_250_kbps_pct" DOUBLE PRECISION,
    "250_kbps_<_dl_tp_<_1_mbps_pct" DOUBLE PRECISION,
    "dl_tp_>_1_mbps_pct" DOUBLE PRECISION,
    "ul_tp_<_10_kbps_pct" DOUBLE PRECISION,
    "10_kbps_<_ul_tp_<_50_kbps_pct" DOUBLE PRECISION,
    "50_kbps_<_ul_tp_<_300_kbps_pct" DOUBLE PRECISION,
    "ul_tp_>_300_kbps_pct" DOUBLE PRECISION,
    "activity_duration_dl_ms" DOUBLE PRECISION,
    "activity_duration_ul_ms" DOUBLE PRECISION,
    "dur_ms_1" DOUBLE PRECISION,
    "handset_manufacturer" text,
    "handset_type" text,
    "nb_of_sec_with_vol_dl_<_6250b" DOUBLE PRECISION,
    "nb_of_sec_with_vol_ul_<_1250b" DOUBLE PRECISION,
    "social_media_dl_bytes" DOUBLE PRECISION,
    "social_media_ul_bytes" DOUBLE PRECISION,
    "google_dl_bytes" DOUBLE PRECISION,
    "google_ul_bytes" DOUBLE PRECISION,
    "email_dl_bytes" DOUBLE PRECISION,
    "email_ul_bytes" DOUBLE PRECISION,
    "youtube_dl_bytes" DOUBLE PRECISION,
    "youtube_ul_bytes" DOUBLE PRECISION,
    "netflix_dl_bytes" DOUBLE PRECISION,
    "netflix_ul_bytes" DOUBLE PRECISION,
    "gaming_dl_bytes" DOUBLE PRECISION,
    "gaming_ul_bytes" DOUBLE PRECISION,
    "other_dl_bytes" DOUBLE PRECISION,
    "other_ul_bytes" DOUBLE PRECISION,
    "total_ul_bytes" DOUBLE PRECISION,
    "total_dl_bytes" DOUBLE PRECISION,
    "social_media_total_bytes" DOUBLE PRECISION,
    "google_total_bytes" DOUBLE PRECISION,
    "email_total_bytes" DOUBLE PRECISION,
    "youtube_total_bytes" DOUBLE PRECISION,
    "netflix_total_bytes" DOUBLE PRECISION,
    "gaming_total_bytes" DOUBLE PRECISION,
    "other_total_bytes" DOUBLE PRECISION,
    "total_data_bytes" DOUBLE PRECISION,
    "total_avg_bearer_tp_kbps" DOUBLE PRECISION,
    "total_tcp_dl_retrans_vol_bytes" DOUBLE PRECISION,
    "total_avg_rtt_dl_ms" DOUBLE PRECISION
);

In [ ]:
populate_dataframe_to_database(connection_params, cleaned_df, cleaned_table_name)

2023-12-15 01:25:54,372:logger:Successfully connected to the database.
2023-12-15 01:26:48,686:logger:Inserted 150002 rows into the database table public.xdr_data_cleaned.
2023-12-15 01:26:48,691:logger:Database connection closed.